body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}

h1,h2,h3 {
  font-family: 'Open Sans', Arial, sans-serif;
}

hr {
  border-color: #ccc;
  width: 80%;
}

header.jumbotron {
  font-size: inherit;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0;
  margin: 0;
}

header p {
  margin-top: 1em;
}

section {
  padding-top: 3.5em;
  padding-bottom: 5em;
  border-bottom: 1px solid #ccc;
}

section:nth-child(even) {
  background: #f6f6f6;
}

section a {
  /* Хай Лєбєдєв плаче */
  text-decoration: none;
}

section a:hover {
  text-decoration: none;
}

section h2 {
  text-align: center;
  margin-bottom: 0.5em;
  /*border-bottom: 1px solid #eee;*/
  /*padding-bottom: 0.5em;*/
}

section h3 {
  font-size: 1em;
}

.github {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/github.png) center center;
}

footer.jumbotron {
  margin-bottom: 0;
}

.nobr {
  white-space: nowrap;
}

/*section .panel {
  transition: 0.3s all;
}

section .panel:hover {
  transform: scale(1.05);
};*/
