body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  /* Хай Лєбєдєв плаче */
  text-decoration: none !important;
  border-bottom: 1px solid #ccc;
  transition: 0.2s all;
}

h1,h2,h3 {
  font-family: 'Open Sans', Arial, sans-serif;
}

hr {
  border-color: #ccc;
  width: 80%;
}

header.jumbotron {
  font-size: inherit;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  margin-bottom: 0;
}

header h1 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

header p {
  font-weight: 400;
  margin-top: 1em;
}

section {
  padding-top: 3.5em;
  padding-bottom: 5em;
  border-bottom: 1px solid #cccccc;
  background: #ffffff;
}

section:first-child {
  border-top: 1px solid #cccccc;
}

section:nth-child(even) {
  background: #f6f6f6;
}

section a {
  color: #2980b9;
  border-bottom: 1px solid #cccccc;
}

section a:hover {
  /*color: #ffe121;*/
  border-bottom: 1px solid #2980b9;
  text-decoration: none;
}

section h2 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 1em;
}

section h3 {
  font-size: 1em;
}

.github {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/github.png) center center;
  opacity: 0.8;
  transition: 0.2s opacity;
}

.github:hover {
  opacity: 1;
}

footer.jumbotron {
  font-size: inherit;
  margin-bottom: 0;
}

.nobr {
  white-space: nowrap;
}

.media-object {
  width: 64px;
  height: 64px;
}

.placeholder {
  display: inline-block;
}

/*section .panel {
  transition: 0.3s all;
}

section .panel:hover {
  transform: scale(1.05);
};*/
